ul {
  list-style-type: none;
  background-color: rgb(33, 6, 142);
  li {
    color: purple;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: line-through;
    transition: all 160ms;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }

}
